.banner .content{
    position: relative;
    max-width: 550px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: 1s;
    z-index: 1000;
}
.banner .content.active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.movie-title{
    max-width: 250px;
    margin-bottom: 20px;
}
.banner .content h4{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 30px;
}
.banner .content h4 span {
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}
.banner .content h4 span:first-child{
    padding-left: 0;
}
.banner .content h4 span:last-child{
    border-right: 0;
}
.banner .content h4 span i{
    background: var(--primary);
    color: #ffffff;
    padding: 0 8px;
    display: inline-block;
    border-radius: 2px;
}
.banner .content p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5rem;
    color: #ffffff;
    margin: 20px 0 30px;
}
/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .modal-content {
    background-color: #1a1a1a;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    overflow: hidden;
    animation: fadeIn 0.3s ease;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #333;
  }
  
  .modal-header h3 {
    margin: 0;
    color: #fff;
    font-size: 18px;
  }
  
  .close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-body {
    padding: 16px;
    overflow-y: auto;
    flex-grow: 1;
  }
  
  .modal-body p {
    margin: 0;
    color: #ddd;
    line-height: 1.6;
    white-space: pre-wrap;
    overflow-y: auto;
  }
  
  .modal-footer {
    padding: 16px;
    border-top: 1px solid #333;
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-button {
    background-color: #ff3700;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .read-more {
    color: #ff3700;
    margin-left: 4px;
    font-weight: 500;
    cursor: pointer;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsive styling */
  @media screen and (max-width: 600px) {
    .modal-content {
      max-width: 100%;
      position: absolute;
      top: 40%;
    }

    .modal-body{
        padding-top: 0;
    }
    .modal-body p {
        margin-top: 0 !important;
        max-height: 200px;
    }
  }